extends ../layout

block content
  div.content
    div.row
      div.span12
        h2 Add a new user
        p
          form(name='form-testdoc', method='POST', action='/users').form
            input(type='hidden', name='_method', value='POST')
            label Username:
            input(name='name', type='text', id='name')
            span.help-block
            button(type='submit').btn Create
