extends ../layout

block content
  div.content
    div.row
      div.span12
        h2 A List of all the Test Docs
        ul.unstyled.indent
          each user in users
            li
              a(href="users/#{user._id}")  #{user.name}
